{% extends 'pages/base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block header_title %}{{ subtitle }}{% endblock %}

{% block content %}

{# Si hay lista de productos (entramos a /products/) #}
{% if products %}
<div class="row">
    {% for product in products %}
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <img src="https://static.djangoproject.com/img/logos/django-logo-positive.svg" class="card-img-top" alt="Product Image" style="object-fit: contain; height: 150px;">
            <div class="card-body text-center">
                <h5 class="card-title">{{ product.name }}</h5>
                {% if product.price > 2000 %}
                <p class="card-text" style="color: red;">${{ product.price }}</p>
                {% else %}
                <p class="card-text">${{ product.price }}</p>
                {% endif %}
                <a href="{% url 'show' id=product.id %}" class="btn btn-primary">Ver detalles</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{# Si hay un solo producto (entramos a /products/1/) #}
{% elif product %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0 align-items-center">
    <div class="col-md-4">
      <img src="https://static.djangoproject.com/img/logos/django-logo-positive.svg" class="img-fluid rounded-start" alt="Product Image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        {% if product.price > 2000 %}
          <p class="card-text" style="color: red;">Price: ${{ product.price }}</p>
        {% else %}
          <p class="card-text">Price: ${{ product.price }}</p>
        {% endif %}
        <a href="{% url 'index' %}" class="btn btn-primary">Volver a los productos</a>
      </div>
    </div>
  </div>
</div>

{# Si no hay nada #}
{% else %}
<p>No product or products found.</p>
{% endif %}

{% endblock %}
